[submodule "Engine"]
	path = Engine
	url = https://github.com/wobbier/MitchEngine
	branch = master
[submodule "ThirdParty/libremidi"]
	path = ThirdParty/libremidi
	url = https://github.com/jcelerier/libremidi
