[submodule "Engine"]
	path = Engine
	url = https://github.com/wobbier/MitchEngine
	branch = master
[submodule "ThirdParty/USB-MIDI"]
	path = ThirdParty/USB-MIDI
	url = https://github.com/wobbier/USB-MIDI/
[submodule "ThirdParty/rtmidi"]
	path = ThirdParty/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "ThirdParty/midifile"]
	path = ThirdParty/midifile
	url = https://github.com/craigsapp/midifile
