
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 48px;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 0;
    cursor: pointer;
    /*background-image: url('file:///Assets/Textures/Bar3.png');*/
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #3366FF;
    /*background-image: url('file:///Assets/Textures/Bar3.png');*/
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation.red:after {
    background-color: #FF3333;
}

.hover-underline-animation.orange:after {
    background-color: #FF9933;
}

.hover-underline-animation.yellow:after {
    background-color: #FFFF66;
}

.hover-underline-animation.green:after {
    background-color: #66FF66;
}

.hover-underline-animation.dark-purple:after {
    background-color: #6633CC;
}

.hover-underline-animation.purple:after {
    background-color: #9933FF;
}

.hover-underline-animation.pink:after {
    background-color: #FF66CC;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
