
body{
    font-family: 'Coolvetica Rg';
    margin: 0;
    background-image: url('file:///Assets/UI/Textures/drums-bg.png');
    background-position: center;
    background-size: cover;
    color: white;
}

.menu-text {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 48px;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 0;
    /*background-image: url('file:///Assets/Textures/Bar3.png');*/
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
    font-size: 48px;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 0;
    /*background-image: url('file:///Assets/Textures/Bar3.png');*/
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    /*background-image: url('file:///Assets/Textures/Bar3.png');*/
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation.red:after {
    background-color: #ca0032;
}

.hover-underline-animation.orange:after {
    background-color: #ca5100;
}

.hover-underline-animation.green:after {
    background-color: #5bca00;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.52);
    top: 0;
    z-index: -1;
}

.underline-bar{
    margin-bottom: 25px;
}

.main-menu {
    margin-left: 50px;
    margin-top: 50px;
}

#track-radio{
    width: 600px;
    height: 200px;
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(36, 36, 36, 0.376);
}

.track-art{
    display: flex;
}
.track-details{
    margin-left: 15px;
    margin: 15px;
    position: relative;
    width: inherit;
}
#track-radio img {
    width: 200px;
    height: 200px;
}

#track-radio div {
}
#track-title {
    font-size: 28px;
    margin-bottom: 10px;
}
#track-artist {
    font-size: 18px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#track-radio .skip-track {
    position: absolute;
    right: 0;
    bottom: 0;
    padding:15px;
    background-color: rgba(255, 255, 255, 0.164);
}

#track-radio .skip-track:hover {
    text-decoration: underline;
}
#track-radio .skip-track a {
    margin: 10px;
    color: rgba(255, 255, 255, 0.842);
    text-decoration: none;
}

#track-radio a {
    margin: 10px;
    color: rgba(255, 255, 255, 0.842);
    text-decoration: none;
}
#track-radio a:hover {
    color: white;
    text-decoration: underline;
}
#track-radio-hover {
    width: 300px;
    height: 200px;
    /*background-color: #f1f1f1;*/
    position: fixed;
    bottom: 10px;
    right: 0; /* Initially off-screen */
    z-index: 0;
}

#track-radio {
    /*width: 300px;
    height: 100px;
    background-color: #f1f1f1;*/
    position: fixed;
    bottom: 10px;
    right: -600px; /* Initially off-screen */
    z-index: 100;
    transition: right 0.5s;
    display: flex;
}

#track-radio.visible {
    right: 10px; /* Slide in */
}